---
layout: default
title: Sharing the best of the Linux experience
---

<div class="index-wrap">

<section class="large-feature">
<div class="jumbotron">

<div class="welcome-note-wrap">
<button class="btn btn-primary">UPDATE: This site will launch soon.</button>
</div>

</div>
</section>

<section class="projects-thumbs bg-primary">
<h2 class="section-header">Our Projects</h2>
<div class="row">

{% for post in site.categories.projects %}
<div class="col-md-4">
<a href="{{site.github.url}}{{post.url}}">
<div class="embedded-content" style="background-image: url('img/{{post.image}}')">
</div>
</a>
</div>

{% endfor %}

</div>
</section>

<section class="blog-post-wrap bg-success">
<h2 class="section-header">Blog</h2>
<ol class="blog-list">
<div class="row">
{% for post in site.categories.blog limit:8 %}
<div class="col-md-6">
<li>{{post.title}}</li>
<div class="details-wrap">
<p>{{post.description}}</p>
</div>
</div>
{% endfor %}
</div>
</ol>
</section>

<section class="newsletter">
<div class="heading-wrap">
<h2>Subscribe to our Newsletter</h2>
</div>
<div class="form-wrap">
<form action="">
<div class="input-group">
<input class="form-control" name="email" placeholder="Enter your email address" type="email" required>
<span class="input-group-btn">
<button class="btn btn-success btn-default" type="submit">Subscribe</button>
</span>
</div>
</form>
</div>
</section>

</div>
