<head>
<!--meta-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="theme-color" content="">
<!--links-->
<link href="{{site.github.url}}/css/style.css" rel="stylesheet" type="text/css">
<link href="{{site.github.url}}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="{{site.github.url}}/css/animate.min.css" rel="stylesheet" type="text/css">
<link href="{{site.github.url}}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!--title-->
<title>{% if page.title %}{{page.title}} |  {% else %} Sharing the best of the Linux experience |  {% endif %}
</title>
</head>
