<nav>
<div class="row">
<div class="col-md-2">
<a href="{{site.github.url}}/index.html"><button id="nav-button" class="btn btn-default">home</button></a>
</div>
<div class="col-md-2">
<a href="{{site.github.url}}/index.html#projects"><button id="nav-button" class="page-scroll btn btn-default">projects</button></a>
</div>
<div class="col-md-2">
<a href="http://ukweli.africamotion.net/"><button id="nav-button" class="btn btn-default">forum</button></a>
</div>
<div class="col-md-2">
<a href="{{site.github.url}}/index.html#blog"><button id="nav-button" class="page-scroll btn btn-default">blog</button></a>
</div>
<div class="col-md-2">
<a href="{{site.github.url}}/blog/2017/01/30/get-involved.html"><button id="nav-button" class="btn btn-default">get involved</button></a>
</div>
<div class="col-md-2">
<a href="{{site.github.url}}/blog/2017/01/29/welcome-to-ukweli.html"><button id="nav-button" class="btn btn-default">about</button></a>
</div>
</div>
</nav>

<style>
nav{
clear:both;
max-width:1080px;
padding:0;
margin: 10px auto;
}
</style>
